*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
h1{
    text-transform: capitalize;    
}
h2{
    font-size: 19.5px;
    position: relative;
    font-family: "Poppins",sans-serif;
    background: 0;
    line-height: 1.4em;
    text-transform: capitalize;
    text-align: center;
}
.card {
    box-shadow:8px  rgba(0, 0, 0, 0);
    margin: auto;
    text-align: center;
  }

.img{ 
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
}
@media (min-width: 320px) and (max-width:768px) {
    img{
        width: 300px;
    }
.card{
    margin-top: 40px;
}
}

.comparison-box {
    margin-bottom: 30px;
    padding: 25px 20px;
    position: relative;
    transition: all .3s ease-in-out 0s;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
    background-color: #fff;
    
}
.vsbox{
    background: #919191 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 35px;
    left: 0;
    font-family: "Poppins",sans-serif;
    line-height: 35px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 36%;
    width: 35px;
    text-align: center;
    z-index: 5;
}
.comparison-box .rating {
    font-size: 16px;
}

@media (min-width: 320px) and (max-width: 767px){
.vsbox {
    top: 45%;
}
}

.rating .checked {
    color: orange;
  }


  /*--- compare---*/
  .compare-detial table {
    background-color: #fff;
}
.compare-detial table tr td h4 {
    font-size: 18px;
    font-weight: 500;
}
.compare-detial tr td:first-child {
    width: 350px;
    background: #f2f2f2 none repeat scroll 0 0;
    text-align: center;
    font-weight: 600;
}
.img-responsive{
    color: orange;
}

.compare-detial table.selection-list tr td .btn {
    margin-top: -20px;
}
.compare-detial table.selection-list tr td .form-group {
    margin-bottom: 0;
}
.compare-detial table.selection-list tr {
    border: medium none;
}
.compare-detial tr td {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    padding: 19px 15px;
    text-align: center;
    width: 395px;
}
.compare-detial tr {
    border: 1px solid #ddd;
}
.compare-detial button{
    background: #fd4339 none repeat scroll 0 0;
}

.table tr{
    cursor: pointer;
}
.table{
    background-color: #fff !important;
}
.hedding td{
    color: #fff;
    font-size: 25px;
}
.hiddenRow{
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.accodian-body td{
    color: #a2a2a2 !important;
}

